/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@700&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');



/* layout */
:root {
  --primary: #F6AE2D;
  --error: #e7195a;
}

body {
  background: #ECF0F1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #1C2541;
}

header .MainNavbar {
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  padding: 0 40px 0;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
}

header h1 {
  padding: 0 0 0;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

header h2 {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins";
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.highlight {
  color: #F6AE2D;
}

.title {
  color: white;
}

.custom-offcanvas-dark .offcanvas-header,
.custom-offcanvas-dark .offcanvas-body {
  background-color: #343a40;
  /* Bootstrap dark theme color */
  color: white;
  /* Text color */
}

.custom-nav-link {
  font-size: 4rem;
  margin: 15px;
  /* Larger text size */
  color: white !important;
  /* Ensuring the text is white, !important to override default styles */
}



/* homepage */
.home {
  gap: 10px;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.listing-details {
  background: #fffefedc;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 250px;
  height: 320px;
  border-radius: 20px;
}


.listing-details h4 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 1.2em;
  color: #1C2541;
}

.listing-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.listing-details h5 {
  position: absolute;
  bottom: 130px;
  margin: 0px 50px 25px 0;
  font-size: 0.9em;
  color: #555;
  text-align: center;

}

.listing-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.listing-details img {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 45%;
  object-fit: cover;
  border-radius: 5px;
}

.view-button {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  background: #f5f5f5;
  opacity: 80%;
  padding: 5px;
  border-radius: 50%;
  color: #333;
  font-size: 10px;
  text-align: center;
}

.loaderCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* Ensures full width */
}

.pagination .page-item.active .page-link {
  background-color: #1C2541;
  /* Change to your preferred color */
  border-color: #1C2541;
  /* Change to your preferred color */
}

.pagination .page-link {
  color: #1C2541;
  /* Change text color */
}

.pagination .page-link:hover {
  color: #F6AE2D;
  /* Change text color on hover */
  background-color: #e9ecef;
  /* Change background color on hover */
  border-color: #dee2e6;
  /* Change border color on hover */
}


/* Search Bar*/
.search {
  position: relative;
  width: 97%;
  margin: 0 auto;
  border: 2px solid #2c2c2c34;
  border-radius: 3em;
  overflow: hidden;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__button,
.search__input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input {
  padding: 1px 10px;
  width: 90%;
  margin: 20px;
}

.search__button {
  width: 10%;
  font-size: 10px;
  padding-right: 1px;
  margin-bottom: 15px;
  color: gray;
  display: grid;
  place-content: center;
}

/* Smart-Phone */
@media (max-width: 635px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .listing-details {
    background: #fffefedc;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 420px;
    border-radius: 20px;
  }

  .listing-details h5 {
    bottom: 200px;
  }

  .listing-details p {
    text-align: center;
  }
}

/* Smart-Phone */
@media (max-width: 980px) {
  @media (min-width: 635px) {
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .listing-details {
      background: #fffefedc;
      border-radius: 4px;
      margin: 20px auto;
      padding: 20px;
      position: relative;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
      width: 350px;
      height: 420px;
      border-radius: 20px;
    }

    .listing-details h5 {
      bottom: 200px;
    }

    .listing-details p {
      text-align: center;
    }
  }
}

/* Ipads*/
@media (max-width: 1350px) {
  @media (min-width: 980px) {
    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}


.popup-Image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 10%;
  object-fit: cover;
  border-radius: 5px;
}


form.signup,
form.login {
  max-width: 400px;
  margin: 20px auto;
  padding: 50px;
  background: #f5f5f5;
  border-radius: 25px;
}

label,
input,
select {
  display: block;
  font-family: "Poppins";
}

input,
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  padding: 8px 10px;
  margin: 20px 0 0 0;
  border-radius: 1px;
  background-color: var(--primary);
  color: #000;
  cursor: pointer;
  font-size: .8em;
  font-family: Poppins;

}

.logoLogin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}